*{
    margin:0;
    padding: 0 ;
    box-sizing: border-box;
}
img
{
    max-width:100%;
}
.btn
{
    float:left;
    font-size:14px;
    color:white;
    background-color: red;
    border:1px solid red;
    outline: none;
    padding:5px 10px;

}
#popup{
    width:400px;
    height:300px;
    border: 1px solid #cccccc;
    position:fixed;
    top:calc(50% - 150px);
    left:calc(50% - 200px);
    opacity:0;
    z-index:-1;
    transition: all 300ms;
}
#bg-fade{

    position:fixed;
    background-color: #000000;
    opacity: 0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: -2;
    transition: all 300ms;
}
