body{
    background-color:lightgrey;

}
.header
{
    background-color: white;
    height:50px;


}
.logo
{
padding-top:15px;
}
.menu{
    text-align:right;
    padding-top:15px;
    list-style:none;
}
.menu li{
    display:inline;
    padding-right:20px;
}
.section{
    padding-top:50px;

}
.section h1
{
    padding-bottom:20px;
    font-size:30px;
    font-weight:700;
    margin:0;
}
.section p{
    padding:2px 0;
    line-height:1.7;
    color:grey;
}
.section p b{
    color:black;
}
.left-main {
}
.right-main
{
    list-style:none;
}
.right-main
{
    line-height:2;

}
.input-text
{
    border:none;
    border-radius: 0;
}
.name-email
{
    padding-bottom:30px;

}
.input-text{
    width:503px;
}
.name-email .input-text
{
    width:239px;

}
.title{
    padding-bottom:30px;
}
.comment .input-text
{
    height:150px;
}
.btn
{
    background-color: cyan;
    color:white;
    margin-top:20px;
}